{% extends "accounts/base.html" %} 

{% block content %}
<br>
<div class="col-md-16">
		
		<div class="card card-body">
			
			<table class="table table-sm ">
				<tr class="table-info ">
					<th>ID</th>
					<th>Lead Analyst</th>
					<th>Created on</th>
					<th>Status</th>
					
					<th>Context</th>
					<th>Description</th>
					<th>Priority</th>
					<th>ActionTaken</th>
					
					<th>Responsility</th>
					<th>When</th>


					<th></th>
					<th></th>
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.ip_number}}</td>
					<td>{{i.analyst}}</td>
					<td>{{i.analysis_date}}</td>
					<td>{{i.status}}</td>
					
					<td>{{i.get_context_display}}</td>
					<td>{{i.description}}</td>
					<td>{{i.get_priority_display}}</td>
					<td>{{i.get_actiontaken_display}}</td>
					<td>{{i.responsibility}}</td>
					<td>{{i.due}}</td>
					
					<td><a class="btn btn-sm btn-info" href="{%url 'approve_ip' i.ip_number %}">Action</a></td>

					</tr>

				{%endfor%}
		
			</table>
		</div>
	</div>

</div>


{% endblock %} 