
{% extends "accounts/base.html" %} 
{% block content %}
<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
</style>
<div class="col-md-8 order-md-1">
          <h4 class="mb-3">Issues</h4>
<p class="round2"> 
<form action="/issues/" method="post">
                     {% csrf_token %}
                    
               
<div class="row">
    <div class="col">
      <label for="usr">Issue no: </label><br>

     
{{form.issue_number}}
<font color="red">{{ form.errors.issue_number }}</font>
           
  
</div>
   
<div class="col">
<label for="usr">Date of Analysis:</label> <br>

 

    {{form.analysis_date}}
       
        <font color="red">{{ form.errors.analysis_date }}</font>
      
       
</div>
      



<div class="col">
      <label for="usr">Lead Analyst: </label><br> 
     {{form.analyst}}
 <font color="red">{{ form.errors.analyst }}</font>
      
</div>
     <div class="col" id="context">
      <label for="context">Issue: </label><br>  
        {{form.context}}  
 <font color="red">{{form.errors.context}}</font>
</div>
    
</div>




<br>
<div class="form-group" id="internaldiv">
    
    <label for="internal">Internal Issue:</label>
<br>

{{form.internal_issues}}
  <font color="red">{{form.errors.internal_issues}}</font>
</div>

<div class="form-group" id="externaldiv">
    <label for="external">External Issue:</label>
	<br>
{{form.external_issues}}
  <font color="red">{{form.errors.external_issues}}</font>

</div>


<div class="form-group" id="processdiv">
<div class="row">
<div class="col">
<label for="process">Process Description:</label>
<br>
{{form.process_desc}}
<font color="red">{{form.errors.process_desc}}</font>

</div>
<div class="col">
<label for="process">Process Issue:</label>
<br>
{{form.process_issues}}
<font color="red">{{form.errors.process_issues}}</font>
</div>


</div>
</div>

<div class="form-group" id="process_StrengthWeaknessiv">
    <label for="process_StrengthWeakness">Please select Strength/Weakness:</label>
	<br>
{{form.process_StrengthWeakness}}
  <font color="red">{{form.errors.process_StrengthWeakness}}</font>

</div>

<div class="form-group" id="process_OpportunitiesThreatsdiv">
    <label for="process_OpportunitiesThreats">Please select Opportunities/Threats:</label>
	<br>
{{form.process_OpportunitiesThreats}}
  <font color="red">{{form.errors.process_OpportunitiesThreats}}</font>

</div>

<div class="form-group" id="otherIssue">
    <label for="otherIssue">Please specify other:</label>
    <input type="text" class="form-control" id="otherIssue"  name="otherIssue" {{form.otherIssue}}
    <font color="red">{{form.errors.otherIssue}}</font>
</div> 


<div class="form-group" id="description">
    <label for="description">Comment:</label>
    <input type="text" class="form-control" id="description"  name="description" {{form.description}}
    <font color="red">{{form.errors.description}}</font>
</div> 

<!--
<div class="form-group" id="mitigation">
    <label for="Description">Mitigation</label>
    <input type="text" class="form-control" id="mitigation"  name="mitigation" {{form.mitigation}}
    <font color="red">{{form.errors.mitigation}}</font>
</div>
--> 

<div class="form-group" id="Responsibility">
    
    <label for="proposedby">Responsibility:</label><br>
   {{form.responsibility}}
<font color="red">{{form.errors.responsibility}}</font>
    
</div>
  
<div class="form-group" id="proposedDatediv">
   
  <label for="proposedDate" >When:</label>
  <br>
    {{form.due}}
    <font color="red">{{form.errors.due}}</font>
  
</div>

<br>          
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 
          
          <td ><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
          <td align="right"><input class="btn btn-danger" type="submit" name="Submit"></td>
					</tr>
          </table>
				
</div>
          
          </form>
</div>

{% endblock %} 

