{% extends "accounts/base.html" %} 
{% block content %}

<div class="col-md-7">
		
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">CAR Numbers with 7 days to Expiry date</a>
			<table class="table table-sm">
				<tr>
					<th>CAR Number</th>
					<th></th>
				</tr>
				
				{% for key,value in thisdict.items %}
				<tr>
				<td>{{ value }}</td>
				<td><a class="btn btn-sm btn-info" href="{%url 'cars_7daysToExpiryview' value %}">View</a></td>

				</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>



{% endblock %} 