<div id="swimbi">
    <ul>
        <li><a data-icon="&#xf015" href="http://">Home</a></li>
        <li><a data-icon="&#xf13C;" href="http://">9001</a>
            <ul>
                <li><a data-icon="&#xf0e4" href="http://">DashBoard</a></li>
                <li><a data-icon="&#xf12e" href="http://">Context</a>
                    <ul>
                        <li><a data-icon="&#xf121;" href="http://">Internal-IPs</a></li>
                        <li><a data-icon="&#xf08e" href="#">External-IPs</a></li>
                        <li><a data-icon="&#xf003" href="#">Internal Issues</a></li>
                        <li><a data-icon="&#xf022" href="#">External Issues</a></li>
                        <li><a data-icon="&#xf047" href="http://">Requirements</a></li>
                        <li><a data-icon="&#xf0f1" href="#">QMS scope</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf118" href="#">Leadership</a>
                    <ul>
                        <li><a data-icon="&#xf042" href="#">QMS policy</a></li>
                        <li><a data-icon="&#xf071" href="#">RACI. matrix</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf072" href="#">Planning</a>
                    <ul>
                        <li><a data-icon="&#xf069" href="#">Risks Assessment</a></li>
                        <li><a data-icon="&#xf14e" href="#">Opp. Assessment</a></li>
                        <li><a data-icon="&#xf02c" href="#">Process Risk Ass.</a></li>
                        <li><a data-icon="&#xf1d9" href="#">Training Planner</a></li>
                        <li><a data-icon="&#xf04c" href="#">Audit Program</a></li>
                        <li><a data-icon="&#xf013" href="#">QMS Planner</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf1b9" href="#">Operations</a>
                    <ul>
                        <li><a data-icon="&#xf02d" href="#">Complaints Register</a></li>
                        <li><a data-icon="&#xf016" href="#">Incident register</a></li>
                        <li><a data-icon="&#xf008" href="#">Training register</a></li>
                        <li><a data-icon="&#xf0ec" href="#">Change request</a></li>
                        <li><a data-icon="&#xf06c" href="#">Leave Application</a></li>
                        <li><a data-icon="&#xf1aa" href="#">Project-Job tracker</a></li>
                        <li><a data-icon="&#xf133" href="#">Calib. schedule</a></li>
                        <li><a data-icon="&#xf0e6" href="#">Maint. schedule</a></li>
                        <li><a data-icon="&#xf185" href="#">Opinion Survey</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf1bd" href="#">Evaluation</a>
                    <ul>
                        <li><a data-icon="&#xf0c0" href="#">Customer satisfaction</a></li>
                        <li><a data-icon="&#xf009" href="#">Training evaluation</a></li>
                        <li><a data-icon="&#xf00e" href="#">Internal audit</a></li>
                        <li><a data-icon="&#xf040" href="#">Management review</a></li>
                        <li><a data-icon="&#xf1db" href="#">Third Party Audit</a></li>
                        <li><a data-icon="&#xf12b" href="#">Supplier Assessment</a></li>
                        <li><a data-icon="&#xf007" href="#">Employee Appraisal</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf194" href="#">Improvement</a>
                    <ul>
                        <li><a data-icon="&#xf122" href="#">CAR report</a></li>
                        <li><a data-icon="&#xf066" href="#">SCAR report</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf180" href="#">Reports</a>
                    <ul>
                        <li><a data-icon="&#xf03c" href="#">Customer Satisifaction Index</a></li>
                        <li><a data-icon="&#xf09d" href="#">Supplier assesment report</a></li>
                        <li><a data-icon="&#xf0c7" href="#">Process risks log</a></li>
                        <li><a data-icon="&#xf1cd" href="#">Organisation risks log</a></li>
                        <li><a data-icon="&#xf181" href="#">Opportunity log</a></li>
                        <li><a data-icon="&#xf00a" href="#">Issues log</a></li>
                        <li><a data-icon="&#xf017" href="#">Change log</a></li>
                        <li><a data-icon="&#xf022" href="#">Lessons learnt log</a></li>
                        <li><a data-icon="&#xf044" href="#">Training matrix</a></li>
                        <li><a data-icon="&#xf029" href="#">Training evaluation report</a></li>
                        <li><a data-icon="&#xf02f" href="#">Internal audit report</a></li>
                        <li><a data-icon="&#xf02d" href="#">Managment Review</a></li>
                        <li><a data-icon="&#xf092" href="#">Supplier log</a></li>
                        <li><a data-icon="&#xf0a0" href="#">Customer log</a></li>
                        <li><a data-icon="&#xf00b" href="#">QMS objectives</a></li>
                        <li><a data-icon="&#xf03a" href="#">Audit plan</a></li>
                        <li><a data-icon="&#xf05b" href="#">process listing</a></li>
                        <li><a data-icon="&#xf0c5" href="#">QMS scope</a></li>
                        <li><a data-icon="&#xf0a3" href="#">QMS scope</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf02d" href="#">Documents managment</a>
                    <ul>
                        <li><a data-icon="&#xf093" href="#">Document register</a></li>
                        <li><a data-icon="&#xf029" href="#">Master document index</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a data-icon="&#xf108;" href="http://">20000</a></li>
        <li><a data-icon="&#xf10B;" href="http://">27001</a></li>
        <li><a data-icon="&#xf03A;" href="http://">22301</a></li>
        <li><a data-icon="&#xf0a0" href="#">55001</a></li>
        <li><a data-icon="&#xf109" href="#">14001</a></li>
        <li><a data-icon="&#xf018" href="#">45001</a></li>
        <li><a data-icon="&#xf007" href="#">Admin</a></li>
        <li><a data-icon="&#xf08b" href="#">Signout</a></li>
    </ul>
</div>