{%load static%}
<nav class="navbar navbar-expand-lg">

<div id="swimbi">
    <ul>
        <!--<img src="{% static 'images/AndyMSLogo.png'%}">-->
        <li><a data-icon="&#xf015" href="{% url 'home'%}">Home</a></li>
        <li><a data-icon="&#xf13C;" >QMS</a>
            <ul>
               
                <li><a data-icon="&#xf0e4" href="{% url 'home'%}">DashBoard</a></li>
                <li><a data-icon="&#xf12e">Context</a>
                    <ul>
                        
                        <li><a data-icon="&#xf08e">Interested Parties</a>
                          <ul>
                              <li><a data-icon="&#xf015" href="{% url 'interested_parties'%}">Create</a></li>
                               <li><a data-icon="&#xf015" href="{% url 'ip_pending'%}">Approve</a></li>
                          </ul>
                        </li>
                        <li><a data-icon="&#xf022" >Issues</a>
                        <ul>
                              <li><a data-icon="&#xf015" href="{% url 'issues'%}">Create</a></li>
                              <li><a data-icon="&#xf015" href="{% url 'issues_pending'%}">Approve</a></li>
                          </ul>
                        </li>
                        <li><a data-icon="&#xf047" >Compliance</a>
                        <ul>
                              <li><a data-icon="&#xf015" href="{% url 'regulatory_requirement'%}">Create</a></li>
                              <li><a data-icon="&#xf015" href="{% url 'requirement_pending'%}">Approve</a></li>
                              
                          </ul>
                        </li>
                        
                    </ul>
                </li>
                
                <li><a data-icon="&#xf072" href="#">Planning</a>
                    <ul>
                        <li><a data-icon="&#xf069" href="#">Risks Assessment</a>
                        <ul>
                              <li><a data-icon="&#xf015" href="{% url 'risks'%}">Create</a></li>
                              <li><a data-icon="&#xf015" href="{% url 'risk_pending'%}">Approve</a></li>
                              <li><a data-icon="&#xf12e" href="{% url 'risks_due'%}">Verification</a>

                          </ul>
                        </li>
                        <li><a data-icon="&#xf14e">Opp. Assessment</a>
                         <ul>
                              <li><a data-icon="&#xf015"  href="{% url 'opportunity'%}">Create</a></li>
                                <li><a data-icon="&#xf015" href="{% url 'opp_pending'%}">Approve</a></li>
                              <li><a data-icon="&#xf12e" href="{% url 'opp_due'%}">Verification</a>

                          </ul>
                          </li>
                        
                        
                        
                        <li><a data-icon="&#xf013">QMS Planner</a>
                        <ul>
                              <li><a data-icon="&#xf015"  href="{% url 'qms_planner'%}">Create</a></li>
                                <li><a data-icon="&#xf015" href="{% url 'qms_pending'%}">Approve</a></li>
                              <li><a data-icon="&#xf12e" href="{% url 'qms_due'%}">Verification</a>

                          </ul>
                        
                        </li>

                         <li><a data-icon="&#xf013">Training Planner</a>
                        <ul>
                              <li><a data-icon="&#xf015"  href="{% url 'training_planner'%}">Create</a></li>
                                <li><a data-icon="&#xf015" href="{% url 'trainplanner_pending'%}">Approve</a></li>
                              <li><a data-icon="&#xf12e" href="{% url 'training_due'%}">Verification</a>

                          </ul>
                        
                        </li>
                    </ul>
                </li>
                <li><a data-icon="&#xf1b9" href="#">Operations</a>
                    <ul>
                        

                     
                     <!--  <li><a data-icon="&#xf015" href="{% url 'calibration'%}">Calibration Record</a></li>--> 
                        
                        <!--<li><a data-icon="&#xf0e6" href="{% url 'maintenance'%}">Maintenance Record</a></li>-->
                        
                        <li>
                                <a data-icon="&#xf016">Incident register</a>
                        <ul>
                                <li><a data-icon="&#xf015" href="{% url 'incidentRegister'%}">Customer</a>
                        <ul>
                      
                        </ul>
                        <a data-icon="&#xf015" href="{% url 'incidentRegisterStaff'%}">Staff</a>

                          </li>    
                        </ul>
                        </li>
                        <li><a data-icon="&#xf1d9">Training Register</a>
                        <ul>
                        <li><a data-icon="&#xf015" href="{% url 'training_register'%}">Create</a></li>
                        </ul>
                        </li>
                     
                        <li><a data-icon="&#xf06c" href="#">Leave Application</a></li>
                        <li><a data-icon="&#xf1aa" href="#">Project-Job tracker</a></li>
                        <li><a data-icon="&#xf1aa" href="#">Customer Satisifaction</a></li>
                        <li><a data-icon="&#xf185" href="#">Provide Assessment</a>
                        <ul>
                              <li><a data-icon="&#xf015"  href="{% url 'providerassessment'%}">Create</a></li>
                                

                          </ul>
                        
                        
                        </li>
                         <li><a data-icon="&#xf1aa" href="#">Competence Register</a></li>
                        <li><a data-icon="&#xf1aa" href="#">Maintenance Register</a></li>
                         <li><a data-icon="&#xf1aa" href="#">Employee Opinion Survey</a></li>
                          <li><a data-icon="&#xf1aa" href="#">Corrective Action Update</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf1bd" href="#">Evaluation</a>
                    <ul>
                        
                       
                        <li><a data-icon="&#xf00e" href="#">Internal Audit</a></li>
                        <li><a data-icon="&#xf040" href="#">Management Review</a></li>
                        <li><a data-icon="&#xf1db" href="#">External Audit</a></li>
                      
                    </ul>
                </li>
                <li><a data-icon="&#xf194" href="#">Miscellaneous</a>
                    <ul>
                        <li><a data-icon="&#xf122" href="#">CAR report</a></li>
                        <li><a data-icon="&#xf066" href="#">SCAR report</a></li>
                    </ul>
                </li>

                    



                <li><a data-icon="&#xf180" href="#">Reports</a>
                    <ul>
                        <li><a data-icon="&#xf03c" href="#">Customer Satisifaction Index</a></li>
                        <li><a data-icon="&#xf09d" href="#">Supplier assesment report</a></li>
                        <li><a data-icon="&#xf0c7" href="#">Process risks log</a></li>
                        <li><a data-icon="&#xf1cd" href="#">Organisation risks log</a></li>
                        <li><a data-icon="&#xf181" href="#">Opportunity log</a></li>
                        <li><a data-icon="&#xf00a" href="#">Issues log</a></li>
                        <li><a data-icon="&#xf017" href="#">Change log</a></li>
                        <li><a data-icon="&#xf022" href="#">Lessons learnt log</a></li>
                        <li><a data-icon="&#xf044" href="#">Training matrix</a></li>
                        <li><a data-icon="&#xf029" href="#">Training evaluation report</a></li>
                        <li><a data-icon="&#xf02f" href="#">Internal audit report</a></li>
                        <li><a data-icon="&#xf02d" href="#">Managment Review</a></li>
                        <li><a data-icon="&#xf092" href="#">Supplier log</a></li>
                        <li><a data-icon="&#xf0a0" href="#">Customer log</a></li>
                        <li><a data-icon="&#xf00b" href="#">QMS objectives</a></li>
                        <li><a data-icon="&#xf03a" href="#">Audit plan</a></li>
                        <li><a data-icon="&#xf05b" href="#">process listing</a></li>
                        <li><a data-icon="&#xf0c5" href="#">QMS scope</a></li>
                        <li><a data-icon="&#xf0a3" href="#">QMS scope</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xf02d" href="#">Documents managment</a>
                    <ul>
                        <li><a data-icon="&#xf093" href="#">Document register</a></li>
                        <li><a data-icon="&#xf029" href="#">Master document index</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a data-icon="&#xf108;" href="">IT-SMS</a></li>
        <li><a data-icon="&#xf10B;" href="http://">ISMS</a></li>
        <li><a data-icon="&#xf03A;" href="http://">BCMS</a></li>
           
        <li><a data-icon="&#xf015" href="{% url 'doc_manager'%}">Document Manager</a></li>
      
        
        <li><a data-icon="&#xf007" href="{% url 'admin:index' %}">Admin Account</a></li>
         <li><welcome>Welcome,{{request.user}}!</welcome></li>
        <li><a data-icon="&#xf08b" href="{% url 'logout'%}">Signout</a></li>
    </ul>
</div>
</nav>
