
{% extends "accounts/base.html" %} 
{% block content %}

<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}


</style>
<div class="col-md-8 order-md-1">
          <h4 class="mb-3">Incident Register</h4>
          <customer class="mb-3">Customer Form</customer>
<p class="round2"> 

<form action="/customerRegister/" method="post">
                     {% csrf_token %}
                    
<table border="0">            
{{form}}
</table>


<br>
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 

<td><input class="btn btn-danger" type="submit" name="Submit"></td>
<td align="right"><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
					</tr>
          </table>
</div>

</form>
</div>





{% endblock %} 








