{% extends "accounts/base.html" %} 
{% block content %}

<div class="col-md-7">
		
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Due QMS</a>
			<table class="table table-sm">
				<tr>
					<th>Planner Number</th>
					<th></th>
				</tr>				
				{% for key,value in thisdict.items %}
				<tr>
				<td>{{ value }}</td>
				<td><a class="btn btn-sm btn-info" href="{%url 'qms_7daysToExpiryview' value %}">Details</a></td>
				<td><a class="btn btn-sm btn-danger" href="{%url 'verify_qms' value %}">Verification</a></td>
				</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>



{% endblock %} 