{% extends "accounts/base.html" %} 

{% block content %}
<br>
<div class="col-md-16">
		
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr class="table-info">
					<th>ID</th>
					<th>Created on</th>
					<th>Planner</th>
					<th>Status</th>
					<th>Start</th>
					<th>End</th>
					<th>Description</th>
					<th>Details</th>
					<th></th>
					
					
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.planner_number}}</td>
					<td>{{i.plan_date}}</td>
					<td>{{i.planner}}</td>
					<td>{{i.status}}</td>
					<td>{{i.start}}</td>
					<td>{{i.end}}</td>
					<td>{{i.description}}</td>
					<td>{{i.details}}</td>

					<td><a class="btn btn-sm btn-info" href="{%url 'approve_qms' i.planner_number %}">Action</a></td>

					</tr>

				{%endfor%}
		
			</table>
		</div>
	</div>

</div>


{% endblock %} 