{%  extends 'accounts/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				
				
				<div class="card card-body">
					<table class="table-bordered">
						<tr>
							
					<th>ID</th>
					<th>Created on</th>
					<th>Planner</th>
					<th>Status</th>
					<th>Start</th>
					<th>End</th>
					<th>Description</th>
					<th>Details</th>
                            
						
						</tr>
						{% for i in products %}
						<tr>
					<td>{{i.planner_number}}</td>
					<td>{{i.plan_date}}</td>
					<td>{{i.planner}}</td>
					<td>{{i.status}}</td>
					<td>{{i.start}}</td>
					<td>{{i.end}}</td>
					<td>{{i.description}}</td>
					<td>{{i.details}}</td>
                       

										
                        
						
						</tr>
                        


						{% endfor %}
					
						
					</table>
				
			</div>
			<div class="text-right">
                    <a href="{%url 'qms_due' %}"><h6><< Back</h6></a>
                    </div>
			
		</div>
		

{% endblock content %}