{%  extends 'accounts/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				
				
				<div class="card card-body">
					<table class="table-bordered">
						<tr>
							
							<th>Plan Number</th>
							<th>Date</th>
							<th>Type</th>
							<th>Start Date</th>
                            <th></th>
						
						</tr>
						{% for i in products %}
						<tr>
						<td>{{i.plan_number}}</td>
						<td>{{i.trainng_date}}</td>
						<td>{{i.type}}</td>
						<td>{{i.start}}</td>
                        <td><a class="btn btn-sm btn-warning" href="{% url 'training_due'%}"> Exit </a></td>

										
                        
						
						</tr>
                        


						{% endfor %}
					
						
					</table>
				
			</div>
		
			
		</div>
		

{% endblock content %}