

{% extends "accounts/base.html" %} 
{%load static%}
{% block content %}
<br>
<div class="row">
<div class="col-md-6">
<div class="card card-body">


<form action="" method="POST">
 
 {% csrf_token %}

<div class="form-group" id="verification">
    
    <label for="exampleFormControlSelect1">Verification status:</label><br>
  {{form.trainplannerstatus}}
<font color="red">{{form.errors.trainplannerstatus}}</font>
</div>
<div class="form-group" id="completion">
    
    <label for="exampleFormControlSelect1">Completion Date:</label><br>
    {{form.completion}}
    <font color="red">{{form.errors.completion}}</font>


</div>

<div class="form-group" id="rescheduled">
    
    <label for="exampleFormControlSelect1">Rescheduled:</label><br>
    {{form.rescheduled}}
    <font color="red">{{form.errors.rescheduled}}</font>


</div>


<div class="form-group" id="commentDIV">
    
    <label for="exampleFormControlSelect1">Comment:</label><br>
 
      <input type="text" class="form-control" id="verification_failed" placeholder="" name="verification_failed" {{form.verification_failed}}

<font color="red">{{form.errors.verification_failed}}</font>
</div>
<br>

 <p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 


<td ><a class="btn btn-warning" href="{%url 'training_due' %}">Cancel</a></td>
<td align="right"> <input class="btn btn-danger" type="submit" name="Confirm" value="Close"></td>
					</tr>
          </table>
</div>
</form>
</div>
</div>
</div>
{% endblock %} 

<script>



 

</script>