{% extends "accounts/base.html" %} 
{% block content %}

<div class="col-md-12 order-md-1">
		 <h4 class="mb-3">Due Trainings</h4>
<p class="round2"> 

		<div class="card card-body">
		
			<table class="table table-sm">
				<tr>
					<th>Plan Number</th>
					<th></th>
				</tr>				
				{% for key,value in thisdict.items %}
				<tr>
				<td>{{ value }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a class="btn btn-sm btn-info" href="{%url 'training_7daysToExpiryview' value %}">Details</a></td>
				<td><a class="btn btn-sm btn-info" href="{%url 'verify_training' value %}">Action</a></td>
				</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>



{% endblock %} 